/NumbersDates/DateTimeClass/bin
/NumbersDates/DateTimeClass/obj
/NumbersDates/FormatDates/bin
/NumbersDates/FormatDates/obj
/NumbersDates/FormatNumbers/bin
/NumbersDates/FormatNumbers/obj
/NumbersDates/ParseDates/obj
/NumbersDates/ParseDates/bin
/NumbersDates/ParseNumbers/bin
/NumbersDates/ParseNumbers/obj
/Overview/DataTypes/bin
/Overview/DataTypes/obj
/Overview/GarbageCollect/bin
/Overview/GarbageCollect/obj
/Overview/MyConsoleApp/bin
/Overview/MyConsoleApp/obj
/Strings/Formatting/bin
/Strings/Formatting/obj
/Strings/Interpolation/bin
/Strings/Interpolation/obj
/Strings/Manipulation/bin
/Strings/Manipulation/obj
/Strings/Searching/bin
/Strings/Searching/obj
